<div class="container">
  <div class="mt-5">
    <h4 class="text-center" style="background-color: #dcdcdc; width: 25%;">マイページ</h4>
  </div>
  <div class="row">
    <div class="col-md-7 mt-5">

<%= @customer.last_name%>
<%= @customer.first_name%>
<%= @customer.last_name_kana%>
<%= @customer.first_name_kana%>
<%= @customer.postal_code%>
<%= @customer.address%>
<%= @customer.telephone_number%>
<%= @customer.email%>

      </table>
    </div>
  </div>
</div>