<div class="container px-5">
  <div class="mt-5 w-25">
     <h5 class="text-center mx-5">管理者ログイン</h5>
  </div>

  <%= form_with model: @admin, url: new_admin_session_path do |f| %>
  <div class="row ml-5 pl-5 mt-5">
    <div class="col-2 ml-5 pl-4">
      <%= f.label :"メールアドレス" %><br />
    </div>

    <div class="col-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com",class:"w-100" %>
    </div>

  </div>

  <div class="row ml-5 pl-5 mt-3">
    <div class="col-2 ml-5 pl-4">
    <%= f.label :"パスワード" %><br />
    </div>

    <div class="col-6">
      <%= f.password_field :password, autocomplete: "current-password",class:"w-100"%>
    </div>

  </div>

  <div class="row ml-5 pl-5 mt-4">
    <div class="col-2 ml-5"></div>
    <div class="col-4">
      <%= f.submit "ログイン" ,class:"btn btn-primary w-50 text-light" %>
    </div>

  </div>

  <% end %>
  <% render "admin/shared/links" %>
</div>