<h2>Sign up</h2>


<%= form_with model: @registration, url: new_customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="container">
  <div class="d-flex flex-row mt-5 ml-5 pl-3">
    <h4 class="text-center" style="background-color: #dcdcdc; width: 15%; margin-bottom:50px;">新規会員登録</h4>
  </div>

  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :フリガナ %><br>
    <%= f.text_field :first_name_kana %>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :郵便番号 %><em>(ハイフンなし)</em><br>
    <%= f.text_field :postal_code %>
  </div>
  
  <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <%= f.label :電話番号 %><em>(ハイフンなし)</em><br>
    <%= f.text_field :telephone_number %>
  </div>
  
  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :encrypted_password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード%><em>(確認用)</em><br />
    <%= f.password_field :enctypted_password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="text-center">
    <%= f.submit "新規登録",class:"btn btn-success text-light mr-5 mt-4 ",style:"width:130px;" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
