<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="container">
  <div class="mt-5 ml-5 pl-1">
    <h4 class="text-center" style="background-color: #dcdcdc; width: 17%;">新規会員登録</h4>
  </div>
  
  <div class="row" style="margin-top:50px;">
    <div class="col-md-2" style="padding-top:5px;"><%= f.label :名前 %></div>
    <div class="col-md-4"><span style="margin-right:25px;">(姓)</span><%= f.text_field :first_name,style:"width:280px; height:35px;"%></div>
    <div class="col-md-5"><span style="margin-right:25px;">(名)</span><%= f.text_field :last_name,style:"width:280px; height:35px;"%></div>
  </div>
      
  <div class="row" style="margin-top:10px;">
    <div class="col-md-2" style="padding-top:5px;"><%= f.label :フリガナ %></div>
    <div class="col-md-4"><span style="margin-right:10px;">(セイ)</span><%= f.text_field :first_name_kana,style:"width:280px; height:35px;"%></div>
    <div class="col-md-5"><span style="margin-right:10px;">(メイ)</span><%= f.text_field :last_name_kana,style:"width:280px; height:35px;"%></div>
  </div>
  
  <div class="row" style="margin-top:10px;">
    <div class="col-md-2" style="padding-top:5px;"><%= f.label :メールアドレス %></div>
    <div class="col-md-4"><span style="margin-right:52px;"></span><%= f.email_field :email, autofocus: true, autocomplete: "email",style:"width:280px; height:35px;"%></div>
  </div>

  <div class="row" style="margin-top:10px;">
    <div class="col-md-2" style="font-size:15px; padding-top:5px;"><%= f.label :郵便番号 %><em>(ハイフンなし)</em></div>
    <div class="col-md-4"><span style="margin-right:52px;"></span><%= f.text_field :postal_code,style:"width:280px; height:35px;"%></div>
  </div>
  
  <div class="row" style="margin-top:10px;">
    <div class="col-md-2" style="padding-top:5px;"><%= f.label :住所 %></div>
    <div class="col-md-9"><span style="margin-right:52px;"></span><%= f.text_field :address,style:"width:660px; height:35px;"%></div>
  </div>

  <div class="row" style="margin-top:10px;">
    <div class="col-md-2" style="font-size:15px; padding-top:5px;"><%= f.label :電話番号 %><em>(ハイフンなし)</em></div>
    <div class="col-md-4"><span style="margin-right:52px;"></span><%= f.text_field :telephone_number,style:"width:280px; height:35px;"%></div>
  </div>

   <div class="row" style="margin-top:10px;">
    <% if @minimum_password_length %>
      <div class="col-md-2" style="font-size:15px; padding-top:5px;"><%= f.label :パスワード %><em>(<%= @minimum_password_length %>文字以上)</em></div>
    <% end %>
    <div class="col-md-4"><span style="margin-right:52px;"></span><%= f.password_field :password, autocomplete: "new-password",style:"width:280px; height:35px;"%></div>
  </div>

  <div class="row" style="margin-top:10px;">
    <div class="col-md-2" style="font-size:15px; padding-top:5px;"><%= f.label :パスワード%><em>(確認用)</em></div>
    <div class="col-md-4"><span style="margin-right:52px;"></span><%= f.password_field :password_confirmation, autocomplete: "new-password",style:"width:280px; height:35px;"%></div>
  </div>
  
  <div class="row" style="margin-top:20px;">
    <div class="col-md-2" style="font-size:15px; padding-top:5px;"></div>
    <div class="col-md-4"><span style="margin-right:52px;"></span><%= f.submit "新規登録",class:"btn btn-success text-light",style:"width:250px; height:35px;"%></div>
  </div>
  
  <div style="margin-top:30px;">
    <p class="text-center" style="background-color: #dcdcdc; width: 23%; font-size:23px;">既に登録済みの方</p>
    <span style="font-size:17px;"><%= link_to "こちら", new_customer_session_path,style:"margin-left:80px; margin-right:10px;"%>からログインしてください。</span>
  </div>
  
</div> 
<% end %>


